.logo{
    float: left;
    position: relative;
    margin: 7px 10px ;
}

.logo img{
    border-radius: 10px 10px 10px 10px;
}

.center-screen-1{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.init{
    visibility: hidden;
}